{% extends 'Main.html' %}
{% load static %}

{% block content1 %}


 

        <!-- Carousel Start -->
        <div class="container-fluid p-0 mb-5">
            <div class="owl-carousel header-carousel position-relative">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center justify-content-center text-center" style="background: rgba(0, 0, 0, .2);">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-12 col-lg-10 d-flex flex-column align-items-center">
                                    
                                <!--
                                <div class="d-flex w-100">
                                    <a href="/students/courses" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 position-absolute" style="bottom: 20px; left: 20px; z-index: 10;">
                                        Our Courses
                                    </a>

                                    <a href="/learn-more" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 position-absolute" style="bottom: 20px; right: 20px; z-index: 10;">
                                        Learn More
                                    </a>
                                </div>
                                -->

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
        
        <!-- Carousel End -->


        <!-- Facilities Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Find Best Classes For Your Child</h1>
                    <p>Explore classes by age group to discover computer science courses and learning pathways that best align with your child's interests.</p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="facility-item">
                            <div class="facility-icon bg-primary">
                                 <span class="bg-primary"></span>
                                 <i class="fa fa-child fa-3x text-danger"></i>
                                <span class="bg-primary"></span>
                                
                            </div>

                            
                            <div class="facility-text bg-primary text-center">
                                
                                <a href="{% url 'courses_age' '5-7' %}" class="text-primary fw-bold" style="text-decoration: none;">
                                    <h3 class="text-primary mb-3 fs-1">
                                        <span class="d-block">5 - 7</span>
                                        <span class="d-block">Years</span>
                                    </h3>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="facility-item">
                            <div class="facility-icon bg-success">
                                <span class="bg-success"></span>
                                <i class="fa fa-gamepad fa-3x text-success"></i>
                                <span class="bg-success"></span>
                            </div>
                            <div class="facility-text bg-success">
                            <a href="{% url 'courses_age' '7-9' %}" class="text-primary fw-bold" style="text-decoration: none;">

                                <h3 class="text-primary mb-3 fs-1">
                                    <span class="d-block">7 - 9</span>
                                    <span class="d-block">Years</span>
                                </h3>
                            </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="facility-item">
                            <div class="facility-icon bg-warning">
                                <span class="bg-warning"></span>
                                <i class="fa fa-robot fa-3x text-warning"></i>
                                <span class="bg-warning"></span>
                            </div>
                            <div class="facility-text bg-warning">
                            <a href="{% url 'courses_age' '9-11' %}" class="text-primary fw-bold" style="text-decoration: none;">

                                <h3 class="text-primary mb-3 fs-1">
                                    <span class="d-block">9 - 11</span>
                                    <span class="d-block">Years</span>
                                </h3>
                            </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="facility-item">
                            <div class="facility-icon bg-info">
                                <span class="bg-info"></span>
                                <i class="fa fa-laptop-code fa-3x text-info"></i>
                                <span class="bg-info"></span>
                            </div>
                            <div class="facility-text bg-info">
                             <a href="{% url 'courses_age' '11-13' %}" class="text-primary fw-bold" style="text-decoration: none;">

                                <h3 class="text-primary mb-3 fs-1">

                                    <span class="d-block">11-13</span>
                                    <span class="d-block">Years</span>
                                    
                                </h3>
                            </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facilities End -->


        <!-- Classes Start -->
        <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Main Categories</h1>
               
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="classes-item">
                        <div class="bg-light rounded-circle w-75 mx-auto p-3">
                            <img class="img-fluid rounded-circle" src="{% static 'img/classes-1.jpg' %}" alt="">
                        </div>
                        <div class="bg-light rounded p-4 pt-5 mt-n5">
                            
                            <a class="d-block text-center h3 mt-3 mb-4" href="{% url 'courses_category' 'Programming' %}">PROGRAMMING</a>
                            
       
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="classes-item">
                        <div class="bg-light rounded-circle w-75 mx-auto p-3">
                            <img class="img-fluid rounded-circle" src="{% static 'img/classes-2.jpg' %}" alt="">
                        </div>
                        <div class="bg-light rounded p-4 pt-5 mt-n5">
                            <a class="d-block text-center h3 mt-3 mb-4" href="{% url 'courses_category' 'Robotics' %}">ROBOTICS</a>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="classes-item">
                        <div class="bg-light rounded-circle w-75 mx-auto p-3">
                            <img class="img-fluid rounded-circle" src="{% static 'img/classes-3.jpg' %}" alt="">
                        </div>
                        <div class="bg-light rounded p-4 pt-5 mt-n5">
                            <a class="d-block text-center h3 mt-3 mb-4" href="{% url 'strong' %}">STRONG MIND</a>
                            
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        </div>
        <!-- Classes End -->

       


       


        

        <!-- Testimonial Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Voices from Our Learners</h1>
                    <p>Here's what our students are saying about their learning experience at Prism.
Real feedback from real learners who took their first steps in programming with us.</p>
                </div>
                <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                    <div class="testimonial-item bg-light rounded p-5">
                       <img src="{% static 'img/reviews/review1.jpg' %}">
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <img src="{% static 'img/reviews/review2.jpg' %}">
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <img src="{% static 'img/reviews/review3.jpg' %}">
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <img src="{% static 'img/reviews/review4.jpg' %}">
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <img src="{% static 'img/reviews/review5.jpg' %}">
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <img src="{% static 'img/reviews/review6.jpg' %}">
                    </div>
                    <div class="testimonial-item bg-light rounded p-5">
                        <img src="{% static 'img/reviews/review7.jpg' %}">
                    </div>
                     <div class="testimonial-item bg-light rounded p-5">
                        <img src="{% static 'img/reviews/review8.jpg' %}">
                    </div>
                     <div class="testimonial-item bg-light rounded p-5">
                        <img src="{% static 'img/reviews/review9.jpg' %}">
                    </div>
                     <div class="testimonial-item bg-light rounded p-5">
                        <img src="{% static 'img/reviews/review10.jpg' %}">
                    </div>
                     <div class="testimonial-item bg-light rounded p-5">
                        <img src="{% static 'img/reviews/review11.jpg' %}">
                    </div>
                     <div class="testimonial-item bg-light rounded p-5">
                        <img src="{% static 'img/reviews/review12.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->


  

        {%  endblock content1 %}