{% extends 'Main.html' %}
{% load static %}

{% block content1 %}
  <!-- Page Header End -->
  <div class="container-xxl py-5 page-header position-relative mb-5">
    <div class="container py-5">
      <h1 class="display-2 text-white animated slideInDown mb-4">Courses</h1>
      <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'home' %} ">Home</a>
          </li>
          <li class="breadcrumb-item text-white active" aria-current="page">Courses</li>
        </ol>
      </nav>
    </div>
  </div>

  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .badge {
      background-color: red;
      color: white;
      padding: 4px 8px;
      text-align: center;
      border-radius: 5px;
    }
    </style>
  <!-- Page Header End -->

  <!-- Classes Start -->
  <div class="container-xxl py-5">
    <div class="container">
      <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1 class="mb-3">Courses by Prism Academy</h1>
        <p>Our fun and interactive courses are designed to spark creativity and problem-solving skills. Explore our courses below and start your child's journey today!".</p>
      </div>
     

      <div class="row g-2 align-items-start justify-content-between" style="margin-top: -50px;">
       
          <div class="col-xs-4 col-sm-2 col-lg-2">
            <div class="form-floating">
                <select  class="form-control " id="coursesByAge" placeholder="Courses By Age">
                    <option value="">Choose Age Group</option>
                    <option value="5-7">Courses from 5-7</option>
                    <option value="7-9">Courses from 7-9</option>
                    <option value="9-11">Courses from 9-11</option>
                    <option value="11-13">Courses from 11-13</option>
                    <option value="13+">Courses from 13+</option>
                  </select>
                <label for="course">Courses By Age</label>                                                  
            </div>
          </div>
      
         <div class=" col-sm-2 col-lg-2  wow fadeInUp">
          <div class="form-floating">
              <select  class="form-control " id="courseByCategory" placeholder="Courses By Category">
                  <option value="">Choose Category</option>
                  <option value="Programming">Programming</option>
                  <option value="Robotics">Robotics</option>
                  <option value="Strong Mind">Strong Mind</option>
                </select>
              <label for="course">Courses By Category</label>                                                  
          </div>
     
    </div>
  </div>

      <div id="coursesContainer">

        {% include 'StudentsApp/filteredCourses.html' with coursesList=coursesList %}
       
       </div>

  <!-- Classes End -->

  <script>

    const ageMenu      = document.getElementById("coursesByAge");
    const categoryMenu = document.getElementById("courseByCategory");
    const container    = document.getElementById("coursesContainer");

    ageMenu.addEventListener("change", function () 
    { 
      var selectedAge = ageMenu.value
       console.log("selected_age:",selectedAge);

       fetch(`courseByAge/?course_age=${encodeURIComponent(selectedAge)}`)
       .then(response => {
        if (!response.ok) throw new Error("404 or other error");
        return response.json();
      })
      .then(data => {
        container.innerHTML = data.html;
        console.log("Container:", container);
        console.log("Returned HTML:", data.html);
      })
      .catch(error => {
        console.error("Fetch error:", error);
      });
  });


  categoryMenu.addEventListener("change", function () 
    { 
      var selectedcategory = categoryMenu.value

       fetch(`courseByCategory/?course_category=${selectedcategory}`)
       .then(response => {
        if (!response.ok) throw new Error("404 or other error");
        return response.json();
      })
      .then(data => {
        container.innerHTML = data.html;
      })
      .catch(error => {
        console.error("Fetch error:", error);
      });
  });

  </script>
{% endblock %}
