
 
    {# templates/StudentsApp/filteredCourses.html #}
      <div class="row g-4">
        {% for course in coursesList  %}
          
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="margin-top: 50px;">
          <div class="classes-item">
            <div class="classes-item">
              <div class="position-relative bg-light rounded-circle w-75 mx-auto p-3">
                {% if course.is_active == "Coming Soon" %}
                  <span class="badge bg-danger text-white position-absolute top-0 start-0 m-2">
                  Coming Soon
                </span>
                {% endif %}
                <img class="img-fluid rounded-circle" src="{{ course.image.url }}" alt="{{ course.title }}" />
              </div>
            </div>

            <div class="bg-light rounded p-4 pt-5 mt-n5">
              <a class="d-block text-center h3 mt-3 mb-4" href="">{{course.name}}</a>
              <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="d-flex align-items-center">
                  <div class="ms-3">
                    <h6 class="text-primary mb-1">{{course.CourseStatus}}</h6>
                    <small>{{course.price}} egp</small>
                    <br>
                    {% if course.is_active == "Active Now" %}
                    <small><p style="color:orange;">Active Now</p></small>
                    {% else %}
                    <p>&nbsp;</p> <!-- This will render a visually empty line -->
                    {% endif %}
                  </div>
                </div>
                <a class="bg-primary text-white rounded-pill py-2 px-3" href="{% url 'courseDetails' course.id %}">Details</a>
              </div>
              <div class="row g-1">
                <div class="col-4">
                  <div class="border-top border-3 border-primary pt-2">
                    <h6 class="text-primary mb-1">Age:</h6>
                    <small>{{course.age}}</small>
                  </div>
                </div>
                <div class="col-4">
                  <div class="border-top border-3 border-success pt-2">
                    <h6 class="text-success mb-1">Hours:</h6>
                    <small>{{course.hours_per_month}}H / Month</small>
                  </div>
                </div>
                <div class="col-4">
                  <div class="border-top border-3 border-warning pt-2">
                    <h6 class="text-warning mb-1">Duration:</h6>
                    <small>{{course.course_duration}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>


